@use "../../../styles/_variables" as v;

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__button {
    background: none;
    border: none;
    font-size: 5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:first-of-type {
      left: 180px;
    }

    &:last-of-type {
      right: 180px;
    }
  }

  &__card {
    width: 80%; 
    margin: 0 20px; 
  }

  &__dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  &__dot {
    cursor: pointer;
  }

  &__dotCircle {
    fill: v.$red-1;
    transition: fill 0.3s ease-in-out;

    &.active {
      fill: v.$purple-1;
    }
  }
}

@media screen and (max-width: 768px) {
  .carousel {
    flex-direction: column;
    
    &__button {
      font-size: 3rem;

      &:first-of-type {
        left: 100px;
      }

      &:last-of-type {
        right: 100px;
      }
    }
  }
}
