.container {
  &__impacts {
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      margin-top: 4rem;
    }
  }

  &__events {
    margin-top: 6rem;

    &__content {
      margin-top: 2rem;
    }
  }

  &__management {
    margin-top: 6rem;

    &__content {
      margin: 0 6rem;
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__image {
        margin: 3rem 0rem;
      }
    }
  }

  &__partners {
    margin-top: 6rem;

    &__content {
      margin-top: 3rem;
    }
  }

  &__contact {
    &__content {
      margin: 0rem 6rem;
      margin-top: 4rem;
    }
  }
}

@media (max-width: 768px) {
  .container {
    &__impacts {
      &__content {
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
}