$black: #000000;
$white-1: #FFFFFF;
$white-2: #FEFEFE;
$white-3: #FAFAFA;
$red-1: #D80101;
$red-2: #FF0000;
$red-3: #C60101;
$purple-1: #180733;
$purple-2: #33116D;
$grey-1: #BBBBBB;
$grey-2: #D9D9D9;
$gradient-1: linear-gradient(180deg, #BC0B27 0%, #55358A 60.67%);
$gradient-2: linear-gradient(180deg, #90051B 0.3%, #180733 37.3%);