@use '_variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

@font-face {
  font-family: 'DriveCorps';
  src: url('../assets/fonts/drivecorps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DriveCorps3d';
  src: url('../assets/fonts/drivecorps3d.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  color: v.$black;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.28125rem;
}

h3 {
  font-size: 1.5625rem;
}

strong {
  font-weight: bold;
}

a {
  color: v.$grey-1;
  text-decoration: none;
}

ul {
  margin-left: 1rem;
  list-style-type: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

.slick-next::before,
.slick-prev::before {
  content: none;
}