@use "../../../../frontend/src/styles/variables" as v;

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start; 

    &__accordions {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: 0 auto; 
    }
    
}

@media screen and (max-width: 768px) {
    .container {
        &__subtitle {
            height: 100%;
        }

        &__accordions {
            width: 90%;
            margin-top: -60px;
        }
    }
}

@media screen and (max-width: 1080px) {
    .container {
        &__accordions {
            width: 80%;
        }
    }
}
