@use "../../styles/variables" as v;

.container {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
  }

  &-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 6rem;  

    &__button {
      border: none;
      background: transparent;
      outline: none;
      margin: 3rem 6rem;
      transition: all 0.3s;

      &__paragraph {
        text-decoration: underline;
        font-size: 1rem;
        
        &__span {
          font-weight: bold;
        }
      }

      &:hover {
        cursor: pointer;
        color: v.$purple-2;
      }
    }
  }
}

.section {
  margin-bottom: 5rem;
}