.list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0rem;

  &__item {
    padding: 1rem;
    border-right: 3px solid v.$black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
      border-right: none;
    }
  }
}