@use "../../../styles/variables" as v;

.container {
  background: url("/purple-background-planning-card.png");
  background-size: 100%;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80rem;
  position: relative;

  &__div {

    &-image {
      position: absolute;
      object-fit: fill;
      left: 64px;
      top: 64px;

      &__img {
        width: 96px;
        height: 96px;
      }
    }

    &-activities {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__activities {
        display: flex;
        justify-content: space-between;

        &__list {
          max-height: 20rem;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 2rem;
          width: 42rem;


          &__item {
            display: flex;
            gap: 1rem;
            color: v.$white-1;
            margin-bottom: 2rem;
            align-items: center;
            justify-content: center;

            &__checkbox {
              appearance: none;
              width: 1.5rem;
              height: 1.5rem;
              border: 2px solid v.$white-1;
              border-radius: 4px;
              background-color: transparent;
              cursor: pointer;

              &:checked {
                background-color: v.$white-1;
                border-color: v.$white-1;
              }

              &:checked::after {
                content: '✔';
                color: v.$purple-1;
                font-size: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }

            &__paragraph {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 2rem;
    min-height: 42rem;
    align-items: baseline;
    width: auto;

    &__div {
      &-image {
        display: none;
      }



      &-activities {
        &__activities {
          &__list {
            width: 100%;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-left: 0rem !important;
            margin-top: 4rem;

            &__item {
              &__paragraph {
                font-size: 1rem;
              }

              &__checkbox {
                width: 1rem;
                height: 1rem;

                &:checked::after {
                  content: '✔';
                  color: v.$purple-1;
                  font-size: .5rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }
  }
}