@use "../../../../styles/variables" as v;

.container {
  background-image: url(/background-small-card-2.png);
  height: 38rem;
  width: 20rem;
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;

  &__infos {
    &__title {
      color: v.$purple-2;
      font-family: v.$DriveCorps;
      letter-spacing: 1.5px;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    &__div-image {
      height: 15rem;
      &__image {
        width: 100%; 
        height: 100%; 
        object-fit: cover;
      }
    }

    &__div-price {
      background-image: url("/background-info-product-small-card.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 3rem;
      width: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      left: 9.5rem;
      top: -1.5rem;

      &__paragraph {
        color: v.$white-1;
        font-size: 1.5rem;
        font-weight: 300;
        
        &__span {
          font-family: v.$DriveCorps;
          letter-spacing: 1.5px;
        }

      }
    }

    &__div {
      background-image: url("/background-infos-small-event-card.png");
      height: 9rem;
      width: 90%;
      background-size: cover;
      margin: 1rem;
      margin-top: -1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-repeat: no-repeat;

      &__date {
        font-weight: 700;
        margin-bottom: .5rem;
      }

      &__ticket, &__address {
        &__span {
          font-weight: 700;
        }
      }

      &__address {
        margin-bottom: .5rem;
        line-height: 1.5rem;
        margin-left: 1.3rem;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}