.nextParty {
    margin-left: 64px;
  }
  
  .nextPartyText {
    color: var(--Roxo-2, #33116D);
    font-family: "Drive Corps";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  