@use "../../styles/_variables" as v;

.nextParty {
    margin-left: 64px;
  }
  
  .nextPartyText {
    color: v.$purple-2;
    font-family: "Drive Corps";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .eventCardContainer {
    display: flex;
    justify-content: center;
  }
  
  .spacer {
    margin-bottom: 30px;
  }

  .smallEventCards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  