.aboutUsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

.verticalSubtitle {
  flex: 0 0 300px;
  margin-right: 20px;
}

.content {
  max-width: 500px;
}

.imageContainer {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.aboutUsImage {
  width: 100%;
}

.directorSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullBoardCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-left: 20px;
  justify-content: center;
}

.fullBoardCard {
  flex: 1 1 30%;
  min-width: 200px;
}

.mascotContainer {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.mascotImage {
  width: 600px;
  height: 400px;
}

.centeredContentContainer {
  justify-content: center;
  margin: 20px 0;
  padding: 0px 90px;
}

.centeredContent {
  text-align: center;
}

.centeredContentForm{
  justify-content: center;
  margin: 60px 0;
  padding: 0px 90px;
}
