@use "../../styles/variables" as v;

.aboutUsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

.verticalSubtitle {
  flex: 0 0 300px;
}

.content {
  max-width: 500px;
}

.imageContainer {
  position: relative;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.aboutUsImage {
  width: 100%;
}

.textOverlay {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: left;
  color: v.$white-3;
  width: 80%;
  z-index: 1;
}

.textContainer {
  text-align: left;
  margin: 20px auto;
  width: 80%;
}

.normalText {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  margin: 30px 0;
  color: v.$white-3;
}

.highlightText {
  font-family: v.$DriveCorps3d;
  font-size: 1.8rem;
  color: v.$white-3;
}

.tag {
  height: 3rem;
  background-image: url('/tag.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 1rem;
  z-index: 0;
}

.directorSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullBoardCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-left: 20px;
  justify-content: center;
}

.fullBoardCard {
  flex: 1 1 30%;
  min-width: 200px;
}

.mascotContainer {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.mascotImage {
  width: 600px;
  height: 400px;
}

.centeredContentContainer {
  justify-content: center;
  margin: 20px 0;
  padding: 0px 90px;
}

.centeredContent {
  text-align: center;
}

.centeredContentForm{
  justify-content: center;
  margin: 60px 0;
  padding: 0px 90px;
}
