@use "../../../../styles/variables" as v;

.container {
  &__title {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-family: v.$DriveCorps;
    text-align: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0rem;

    &__item {
      padding: 1rem;
      border-right: 3px solid v.$black;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.5rem;

      &:not(:last-child) {
        border-right: 3px solid v.$black;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    &__title {
      text-align: initial;
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;

      &__item {
        padding: 0rem;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: initial;
      }

    }
  }
}