@use "../../styles/_variables" as v;

.section {
  background-image: url(/background-small-card-2.png);
  height: 26rem;
  width: 250px;
  background-position: bottom;
  margin-top: 15rem;

  &__image {
    width: 250px;
    height: 250px;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    &__span {
      font-family: v.$DriveCorps;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  @media (max-width: 768px) {
    width: 180px;
    height: 22rem;

    &__image {
      width: 180px;
      height: 180px;
    }

    &__title {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}