@use "../../styles/variables" as v;

.container {
  background-image: url(/background-small-card-3.png);
  width: 327px;
  height: 365px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__text {
  text-align: center;
  font-family: "Drive Corps", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 32px;
  color: v.$purple-2;
}

.container__count {
  text-align: center;
  font-family: "Drive Corps 3D", sans-serif;
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  color: v.$purple-2;
}
