@use "../../styles/_variables" as v;

.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Arial', sans-serif;

  .pagination__numbers,
  .pagination__links {
    display: flex;
    align-items: center;
  }

  .pagination__numbers {
    gap: 8px;
  }

  .pagination__links {
    gap: 8px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    .pagination__separator1 {
      display: none;
    }

    .pagination__numbers,
    .pagination__links {
      width: 100%;
      margin-bottom: 8px;
      justify-content: flex-start;
  }
}

.pagination__page {
  cursor: pointer;
  padding: 4px;
  font-weight: normal;
  color: v.$black;

  &:hover {
    font-weight: bold;
  }
}

.pagination__page--active {
  font-weight: bold;
}

.pagination__link {
  color: v.$black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
}