@use "../../styles/variables" as v;

.container {
  &__title {
    font-family: v.$DriveCorps;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 2px;
  }

  &__text {
    font-family: 'Poppins';
    font-size: 1rem;
    margin-top: .5rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    &__title {
      font-size: 2rem;
    }

    &__text {
      font-size: 1rem;
      line-height: 2rem;
    }
  }
}