.overlayContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin-top: -70px;

  }
  
  .contentContainer {
    flex: 0 0 55%;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    width: 100%;
    text-align: left;
  }
  
  .eventInfoContainer {
    width: 100%;
    margin-top: -65px;
    margin-bottom: 40px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
  
  .buttonContainer button {
    margin-right: 20px;
  }
  
  .verticalSubtitle{
    margin-top: -50px;
  }