@use "../../styles/_variables" as v;


.section {
  padding: 5rem 0 4rem 2rem;
  width: 35%;

  &__title {
    font-family: v.$DriveCorps;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 5rem;
    color: v.$white-1;
    margin-bottom: 4rem;
    margin-left: 4rem;
  }

}