@use "../../styles/_variables" as v;

.container {
  background-image: url("/background-small-card.png");
  height: 38rem;
  width: 22rem;
  background-position: initial;
  background-size: 100%;
  background-repeat: no-repeat;

  &__infos {
    &__title {
      color: v.$purple-2;
      margin-top: 5rem;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 2rem;
      font-size: 1.5rem;
    }

    &__product-price {
      background-image: url("/background-info-product-small-card.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 3rem;
      width: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &__price {
        color: v.$white-1;
        font-size: 1.5rem;
      }
    }
  }
}