.container {
    width: 1248px;
    box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.228);


    &__header {
        margin-bottom: -25px;
        position: relative;
        z-index: 2;
    }

    &__image {
        height: 550px;
        width: 100%;
        position: relative;
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain; 
            object-position: center;
        }
    }

    &__button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        bottom: -650px;
    }
}

.customPrev,
.customNext {
    padding: 0 32px;

    img {
        width: 48px;
        height: auto;

        &:hover {
            width: 58px;
            transition-duration: 0.2s;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 372px;

        &__header {
            margin-bottom: -73px;
        }

        &__image {
            height: 233px;
            width: 100%;

            img {
                object-fit: contain;
            }
        }

        &__button {
            bottom: 24px;
        }
    }

    .customPrev,
    .customNext {
        padding: 0 14px;

        img {
            width: 38px;
            height: auto;
        }
    }
}

@media screen and (max-width: 376px) {
    .container {
        &__button {
            bottom: -100px;
        }
    }
}