.form {
  margin: 0rem 6rem;
  margin-top: 3rem;
}

.tag {
  height: 3rem;
  background-image: url('/tag.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 1rem;
  z-index: 0;
}

@media (max-width: 768px) {
  .form {
    margin: 0rem 1rem;
  }
}