.footer {
  background-color: #33116D;
  color: #ffffff;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 306px;
    padding: 2rem;
    position: relative;
  }

  &__bottom {
    background-color: #180733;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 500px; // Ajuste para dar espaço à logo
  }

  &__logo {
    margin-top: 20px;
    width: 198px;
    height: 180px;
    margin-bottom: 1rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 200px;
  }

  &__logoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 27%;
    height: 100%;
    z-index: 0;
    opacity: 50%;
  }

  &__location, &__contacts, &__pages {
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
    font-size: 18px;
    margin-top: 10px;
  }

  &__title {
    font-family: 'Drive Corps';
    margin-bottom: 1rem;
    font-size: 30px;
    color: #bbb;
    font-weight: lighter;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-left: 0;

    li {
      margin-bottom: 27px;
      display: flex;
      align-items: center;

      img.footer__icon {
        margin-right: 0.5rem;
        width: 20px;
        height: auto;
      }
    }
  }

  address {
    display: flex;
    align-items: center;

    img.footer__icon {
      margin-right: 0.5rem;
      width: 20px;
      height: auto;
    }
  }

  @media (max-width: 1300px) and (min-width: 769px) {
    &__main {
      height: auto;
      flex-direction: column;
      align-items: center;
    }

    &__container {
      flex-direction: column;
      align-items: center;
      padding-left: 50px; // Remover padding em telas médias
    }

    &__logo {
      position: relative; // Alterar a posição para relativa em telas médias
      margin-bottom: 2rem;
      transform: none; // Remover transformação
      margin-left: 0; // Remover margem esquerda
      text-align: center;
      align-self: center;
    }

    &__logoBackground {
      display: none;
    }

    &__bottom {
      text-align: center;
    }

    &__location, &__contacts, &__pages {
      text-align: left; // Manter o texto alinhado à esquerda
      width: 100%;
      margin-top: 40px;
    }

    &__pages {
      order: 2;
    }

    &__images {
      order: 3;
    }

    &__location, &__contacts {
      order: 1;
    }
  }

  @media (max-width: 768px) {
    &__main {
      height: auto;
      flex-direction: column;
      align-items: center;
    }

    &__container {
      flex-direction: column;
      align-items: center;
      padding-left: 0; // Remover padding no mobile
    }

    &__logo {
      position: relative; // Alterar a posição para relativa no mobile
      margin-bottom: 2rem;
      transform: none; // Remover transformação
      margin-left: 0; // Remover margem esquerda
      text-align: center;
      align-self: center;
    }

    &__logoBackground {
      display: none;
    }

    &__bottom {
      text-align: center;
    }

    &__location, &__contacts, &__pages {
      text-align: left; // Manter o texto alinhado à esquerda
      width: 100%;
      margin-top: 30px;
    }

    &__pages {
      order: 2;
    }

    &__images {
      order: 3;
    }

    &__location, &__contacts {
      order: 1;
    }
  }
}
