@use "../../styles/_variables" as v;

.container {
  background-image: url(/background-small-card-2.png);
  height: 34rem;
  width: 18rem;
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;

  &__infos {
    &__title {
      color: v.$purple-2;
      font-family: v.$DriveCorps;
      letter-spacing: 1.5px;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    &__div-image {
      height: 15rem;
      &__image {
        width: 100%; 
        height: 100%; 
        object-fit: cover;
      }
    }

    &__div {
      background-image: url("/background-infos-small-event-card.png");
      height: 7rem;
      background-size: cover;
      margin: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-repeat: no-repeat;

      &__date {
        font-weight: 700;
        margin-bottom: .5rem;
      }

      &__ticket, &__address {
        &__span {
          font-weight: 700;
        }
      }

      &__address {
        margin-bottom: .5rem;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}