@use '../../../../styles/variables' as v;

.container {
  width: 100%;
  padding-bottom: 2rem;

  &__title {
    background-image: url('/background-title-management-information-card.png');
    height: 4rem;
    background-repeat: no-repeat;
    width: 70%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2rem;

    &__paragraph {
      font-family: v.$DriveCorps;
      color: v.$purple-2;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      &__span {
        font-family: v.$DriveCorps3d;
        font-size: 2rem;
      }
    }
  }
  
  &__infos {
    text-align: center;
    background-image: url('/background-result-information-card.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;

    &__title {
      margin-bottom: 2rem;
      padding-top: 4rem;
    }
  }
}

@media (max-width: 768px) {
  .container {
    &__title {
      width: 100%;
      background-size: cover;
      height: 6rem;
      position: initial;
      background-position: center;
    }

    &__infos {
      background-image: none;

      &__impacts {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 0rem 3rem;
      }

      &__results {
        background-image: url('/background-result-information-card.png');
        padding: 3rem;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &__title {
        padding-top: 2rem;
      }
    }
  }
}